<h3 style='text-align: center;'>Leave A Comment</h3>
<div class='card'>
  <div class='card-header'>
    <h5 class='title'><span class='id'>{{blog.dataValues.id}}.
      </span>{{blog.dataValues.title}}
    </h5>
    <p>Posted by
      <span class='username'>{{blog.dataValues.username}}</span>
      on
      <span class='date'>{{format_date blog.dataValues.date_created}}</span></p>
  </div>
  <div class='card-body'>
    <p class='card-text'>{{blog.dataValues.contents}}</p>
  </div>
  <div class='form-floating'>
    <textarea
      class='form-control'
      placeholder='Leave a comment here'
      id='comment'
      style='height: 150px;'
    ></textarea>
    <label for='comment'>Comments</label>
    <button id='submit' class='btn btn-primary'>Submit</button>
    {{#each comments as |comment|}}
      {{#if comment.dataValues.comment}}
        <div class='card'>
          <div class='card-body'>
            <p class='card-text'>{{comment.dataValues.comment}}</p>
            <p>Posted by
              <span class='username'>{{../user.dataValues.username}}</span>
              on
              <span class='date'>{{format_date
                  comment.dataValues.date_created
                }}</span></p>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

<script src='./js/comment.js'></script>