{{#each blogs as |blog|}}
  <div class='card'>
    <div class='card-header'>
      <h5 class='title'><span id='id' data-id='{{blog.id}}'>{{blog.id}}.
        </span>{{blog.title}}
      </h5>
      <p>Posted by
        <span class='username'>{{blog.username}}</span>
        on
        <span class='date'>{{format_date blog.date_created}}</span></p>
    </div>
    <div class='card-body'>
      <p class='card-text'>{{blog.contents}}</p>
    </div>
  </div>
{{/each}}

<button class='btn btn-primary' id='create'>Create New Blog Post</button>
<script src='./js/newPost.js'></script>