<h3 class='secondary-header'>Edit Blog Post</h3>

<div class='w-50 mx-auto'>
  <div class='mb-3'>
    <h5 class='title'><span
        id='id'
        data-id='{{blog.dataValues.id}}'
      >{{blog.dataValues.id}}.
      </span>{{blog.dataValues.title}}
    </h5>
    <label for='title' class='form-label'>Blog Title</label>
    <input
      type='text'
      class='form-control'
      id='title'
      placeholder='{{blog.dataValues.title}}'
    />
  </div>
  <div class='mb-3'>
    <label for='content' class='form-label'>Blog Content</label>
    <textarea
      class='form-control'
      id='content'
      rows='3'
    >{{blog.dataValues.contents}}</textarea>
  </div>
</div>
<div class='text-center'>
  <button id='update' class='btn btn-primary mx-3'>Update Post</button>
  <button id='delete' class='btn btn-primary mx-3'>Delete Post</button>
</div>

<script src='./js/editPost.js'></script>