{{#each blogs as |blog|}}
  <div class='card'>
    <div class='card-header'>
      <h5 class='title'>{{blog.title}} <span class='id'>{{blog.id}}</span></h5>
      <p>Posted by
        <span class='username'>{{blog.username}}</span>
        on
        <span class='date'>{{format_date blog.date_created}}</span></p>
    </div>
    <div class='card-body'>
      <p class='card-text'>{{blog.contents}}</p>
    </div>
  </div>
{{/each}}

<script src='./js/getBlog.js'></script>